# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
.zip
.tar.gz
lua-5.3.1
game/.vs
game/Debug
game/game.sdf
game/game.sln
game/game.vcxproj
game/game.vcxproj.filters
game/game.vcxproj.user